
*.obj
*.exe
*.ilk
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.opendb
*.db
*.filters
*.vcxproj
*.obj
*.log
*.tlog
*.tlog
Server/Debug/Server.tlog/CL.read.1.tlog
*.lastbuildstate
*.vcxproj
*.filters
Server/.vs/Server/v14/.suo
*.tlog
*.tlog
*.tlog
*.tlog
*.lastbuildstate
*.filters
*.vcxproj
